.footer {
    display: flex;
    // padding-top: 60px;
    // padding-bottom: 60px;
    background-color: var(--primary-background-color);
    height: 603px;  
    @include tablet {
    height: 463px;
    }
    @include desktop {
      width: 100%;
      height: 252px;
    }
  }

.footer__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    @include desktop {
      // max-width: 1200px;
      flex-direction: row;
      justify-content: space-around;
      align-items: baseline;
      padding-right: 15px;
      padding-left: 15px;
      margin-left: auto;
      margin-right: auto;

    }
   
    }
.footer__content{
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 76px;
    margin-left: 76px;
  }
  @include desktop {
    // margin: -15px;
    flex-direction: row;
    // flex-wrap: nowrap;
    justify-content: space-around;
  }
    }
.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include desktop {
    margin-right:70px;
    
  }
}

// .footer__wrapper{
//       margin-right: 70px;
//     
.footer__link {
      display: block;
      margin: 0 auto;
      padding-bottom: 20px;
    }

.logo__footer {
      color: var(--primary-text-color);
    }

.footer__list{
      display:block;
      margin: 0 auto;
      justify-content: center;
      @include desktop {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
    } 

.footer__item {
  margin: 0 auto;
  justify-content: center;
}

.social__link{
      width: 44px;
      height: 44px;
      background-color: #43444D ;
      border-radius: 50%;
      padding: 12px;
      transition: background-color 250ms var(--timing-function);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }}

.contacts{ 
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: 250ms var(--timing-function);
  display: flex;
  justify-content: center;
&:hover,
&:focus {
   color: var(--accent-color);
 }}

.address{
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-text-color);
    text-decoration: none;
    transition: 250ms var(--timing-function);
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
    
    .footer__item{
      margin-bottom: 9px;
    }
    
    .subscribe__title{
    font-family: Roboto;
    color:#FFFFFF;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    @include tablet {
      margin-top: 0;
    }
    @include desktop {
      margin-top: 5px;
      margin-bottom: 20px;
      justify-content: flex-start;
    }
    }
    
  .social__list{
      display: flex;
      justify-content: center;
      }

 .social__item:not(:last-child){
      margin-right: 10px;
      }

  .social__icon{
      fill: white; 
      }

  .social__link{
      width: 100%;
      height: 100%;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
     &:hover,
     &:focus {
        background-color: var(--accent-color);
      }}

    /*---SUBSCRIBE--------------------------------*/
    
    .subscribe{
      @include tablet {
      margin-top: 60px;
      }
      @include desktop {
        display: flex;
        flex-direction: row;
      }
    }
    .footer__join{
      @include desktop {
        margin-right:12px;
      }
    }

    .subscribe__box {
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 4px;
      background-color: transparent;
      height: 50px;
      padding-left: 16px;
      font-weight: 400;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.6); 
      margin-bottom: 20px; 
      display: block;
      margin-right: auto;
      margin-left: auto;
      @include mobile {
        min-width: 250px;
        height: 35px;
      }
      @include tablet {
        width: 450px;
        height: 50px;
      }
      @include desktop {
        width: 358px;
        height: 50px;
      }
    }
   
    .subscribe__button {
      background-color: var(--accent-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      width: 200px;
      height: 50px;
      border-radius: 4px;
      border: none;
      margin:  0 auto;
      padding-left: 28px;
      padding-right: 62px;
      cursor: pointer;
      display: block;
      justify-content: center;
      @include desktop {
        margin-top: 36px;
      }
    }
    .subscribe__text {
      position: relative;
      font-weight: 16px;
      font-weight: 700;
      line-height: 1.9;
      color: #ffffff;
      letter-spacing: 0.06em;
    &::after {
      content: url('../images/iconsend.svg');
      position: absolute;
      width: 24px; height: 24px;
      display: inline-block;
      margin-left: 10px;
      fill: #ffffff;
    }
  @include desktop {
    margin: 0 auto;
  }
  }
    
    
    
   
  
    