.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ECECEC;
  height: 60px;
  @include tablet {
    height: 80px;
  }
  }

.header__container {
    @include mobile {
     justify-content: space-between;
      }
    @include tablet {
      display: flex;
      justify-content: baseline;
      height: 80px;
      margin-bottom: 0;
    }  
    @include desktop {
      display: flex;
      justify-content: space-around;
    }
  }
  
.logo__link {
  font-size: 24px;
   margin: 16px 15px;
   @include tablet {
    margin: 26px 15px;
   }
}
.navigation {
   display: none;
   @include tablet {
    display: flex;
    }
  }

/*---Мобільне меню----------------*/

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
}
.mob-menu.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mob-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left:40px;
  margin-right: 40px;
  overflow: auto;
}

.menu-close {
  margin-left: auto;
  display: block;
  margin-bottom: 30px;
  background-color: transparent;
  border: none;
}
.menu-open {
  margin-left: auto;
  display: block;
  background-color: transparent;
  border: none;
}
.header__connect{
  display: flex;
  justify-content: space-between;
}

.mob-menu-list{
margin-bottom: 64px;
}
.mob-menu-item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  color: #212121;
}
.mob-menu-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  color: var(--accent-color);
  margin-bottom: 32px;
}
.mob-menu-mail {
font-weight: 500;
font-size: 24px;
line-height: 1.7;
color: #757575;
margin-bottom: 64px;
}
.mob-soc-list {
  display: flex;
}

.mob-soc-item {
position: relative;

&:not(:last-child) {
  margin-right: 20px;
}}

.mob-soc-item:not(:last-child)::after {
  position: absolute;
  content: ' ';
  right: -10px;
  width: 1px;
  height: 20px;
  background-color: 
  rgba(33, 33, 33, 0.2);
}
.mob-menu-connect {
  margin-bottom: 64px;
}

.mob-soc-link {
font-weight: 500;
font-size: 18px;
line-height: 1.2;
color: var(--accent-color);
}
.mob-soc-link:focus {
  color: var(--accent-color);
}


/*---------------------------------------*/
  
.logo__header {
    color: #000000;
  }
  
.navigation__list {
    display: flex;
    margin-left: 93px;
    @include tablet {
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }

.navigation__item {
    margin-left: auto;
 &:not(:last-child) {
    margin-right: 50px;
  }}
  
.navigation__link {
    position: relative;
    color: var(--title-text-color);
    transition: color 250ms var(--timing-function);
  &:hover,
  &:focus{
      color: var(--accent-color);}
  &::after {
    content: '';
    position: absolute;
    width:100%;
    display: block;
    height: 4px;
    left:0; bottom: -28px;
    background-color:var(--accent-color);
    opacity: 0;
    transition: background-color 250ms var(--timing-function);
    border-radius: 10px;
  }
  &:hover::after{
    width: 100%;
    opacity: 1;
}
}
  
  .current::after{ width: 100%;
    opacity: 1;
  }
  
  .contacts__link {
    display: block;
    color: var(--main-text-color);
    transition: color 250ms var(--timing-function);
    &:hover,
    &:focus{
      color: var(--accent-color);
    }
    @include desktop {
     padding-top: 32px;
     padding-bottom: 32px; 
    }
  }
    
  .contacts__list {
    display: none;
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 15px;
      padding-top: 21px;
    }
    @include desktop {
      flex-direction: row;
    }
  }
  
  .contact__item + .item {
    // margin-left: 50px;
  }
  
  .contacts__item {
    display: flex;
    // padding-top: 32px;
    // padding-bottom: 32px;
    color: var(--main-text-color);
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    @include tablet {
    padding-bottom:10px;
    font-size: 12px;
    }
    @include desktop {
      margin-right: 30px;
    }
  }

  .contacts__icon {
    margin-right: 10px;
    fill: var(--main-text-color);
    transition: fill 250ms var(--timing-function);
  }

  .contacts__icon {
    .contacts__link:hover & ,
    .contacts__link:focus & {
      fill: var(--accent-color)
    }}