/*---ПРІОРІТЕТИ-------------------------------------------*/

.priorities {
background-color: #ffffff;
padding-top: 20px;
@include mobile {
  padding-top: 60px;
}
@include tablet {
  padding-top: 60px;
}
@include desktop {
  padding-top: 94px;
}
}

.priority__list {
list-style: none;
@include tablet {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@include desktop {
  display: flex;
}
}

.list-item:not(:last-child) {
  @include mobile {
  margin-bottom: 30px;
        }}

.list-item {
 @include desktop {
  width: 270px;
}}

.priority__wrap{
  display: flex;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
  justify-content: center;
  align-content: center;
  align-items: center; 
  width: 100%;
  @include mobile {
    width: 450px;
    }
    @include tablet {
      width: 354px ;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
    @include desktop {
      width: 270px;
   }
}

.priority__icon {
  width: 70px;
  height: 70px;
}

.priority__title {
  margin-top: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  @include mobile {
    margin-bottom: 10px;
    text-align: center;
    }
  @include tablet {
    margin-bottom: 10px;
    text-align: left;
  }
  @include desktop {
    margin-bottom: 10px;
    text-align: left;
  }
}

.priority__text {
  @include tablet {
    width: 354px;
      }
  @include desktop {
    width: 270px;
  }}

.priority__text:nth-last-child(-n + 2) {
  @include tablet {
  margin-bottom: 0;
  }
}

/*---Чим ми займаємось----------------*////

.specialization {
    display: none;  
  @include desktop{
    display: block;
    background-color: #ffffff;
    padding-bottom: 94px;
  }
}

.specialization__title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  color: #212121;
  margin-top: 0;
  margin-bottom: 50px;
}

.specialization__list{
  display: flex;
  gap: 30px;
  justify-content: center;
  align-content: center;
  align-items: center; 
  width: 100%;
}
.specialization__item {
    position: relative;
    background-color: #ffffff;
  @include desktop {
    width: calc((100% - 90px) / 3);
 }
}

.specialization__wrap {
    position: absolute;
    width: 360px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    top: 216px;
  }

.specialization__name {
    font-family: Roboto;
    font-weight:700;
    font-size: 16px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 27px;
    padding-bottom: 27px;
  }

  
  /*---НАША КОМАНДА---*/
  
  .team {
    background-color: #f5f4fa;
  }

  .team__list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 30px;
  }

  .team__title {
    margin-top: 20px;
    @include mobile {
      margin-top: 0;
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 28px;
    }
    @include tablet {
      margin-top: 0;
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 28px;
    }
    @include desktop {
      margin-top: 0;
      margin-bottom: 50px;
      font-weight: 700;
      font-size: 36px;
    }   
  }

  .team__item {
    background-color: #ffffff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  
   @include mobile {
    width: 100%; 
   }
   @include tablet {
    width: calc((100% - 30px) / 2);
   }
   
   @include desktop {
    width: calc((100% - 120px) / 4);
   }
 }

  .team__wrap {
  padding-top: 30px;
  margin: 0;
  }
  
  .team__name {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--title-text-color);
  }
  
  .team__text {
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
  }
    
  .socials__list{
    display: flex;
    justify-content: center;
    }
    
  .socials__item{
    width: 44px;
    height: 44px;
    margin-top: 16px;
    @include mobile {
      margin-bottom: 24px;
    }
   @include tablet {
    margin-bottom: 24px;
    }
    @include desktop {
      margin-bottom: 30px;
      &:not(:last-child){
        margin-right: 10px;
        }
    }
  }
    
  .socials__link{
    width: 100%;
    height: 100%;
    color: black;
    background-color: #ffffff ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms var(--timing-function);
  &:hover,
  &:focus {
        background-color: var(--accent-color);
      }}

  .socials__icon{
    fill: #AFB1B8; 
    padding: 12px;
    transition: fill 250ms var(--timing-function);
  .socials__link:hover &,
  .socials__link:focus & {
      fill: white;
    }}

    /*---ПОСТІЙНІ КЛІЄНТИ---*/

.clients{
  background-color: #FFFFFF;
  
}

.clients__title {
  @include mobile {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
  }
  @include tablet {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
  }
  @include desktop {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
  }   
}

.clients__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.clients__item{
  width: 100%;
 @include mobile {
  width: calc((100% - 30px) / 2); 
 }
 @include tablet {
  width: calc((100% - 90px) / 3);
 }
 @include desktop {
  width: calc((100% - 180px) / 6);
 }
}

.clients__link{
  display: flex;
  height:92px;
  outline: 1px solid #AFB1B8;
  border-radius: 1px;
  justify-content: center;
  align-items: center;
  transition: outline 250ms var(--timing-function);
&:hover,
&:focus {
  outline: 1px solid var(--accent-color);
}}

.clients__icon{
  fill: #AFB1B8;
  transition:  fill 250ms var(--timing-function);
.clients__link:hover &,
.clients__link:focus & {
  fill: var(--accent-color)
}}

.header__connect {
  @include tablet {
    display: none;
  }
}